/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/docker/db/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
docker-compose*
composer.json
composer.lock
composer.local.json
composer.local.lock